.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container {
  padding: 0 25px;
  hr {
  	margin-top: -16px;
  	margin-bottom: 16px;
  }
}
.textarea-container {
	textarea {
		box-shadow: 1px 1px 2px #000;
		border-radius: 3px;
		border: 1px solid black;
		width: 100%;
	}
	.clear-btn {
		float: right;
	    padding: 4px 12px;
	    border-radius: 3px;
	    cursor: pointer;
	    border: 1px solid black;
	    &:hover {
	    	background: #efefef;
	    }
	}
}
.preview-container {
	.preview-area {
		background: #eee;
		box-shadow: 1px 1px 2px #000;
	    border: 1px solid black;
	    border-radius: 3px;
	    padding: 0 30px;
		margin: 0px auto;
		min-width: 250px;
		max-width: 300px;
		min-height: 500px;
		max-height: 550px;
	}
}

@media screen and (max-width: 576px) {
	.main-container {
		flex-direction: column;
	}
	.preview-area {
		width: 100%;
	}
}